---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="RIMdev Recipes">
  <main id="favorite-restaurants">
    <header class="container">
      <h1 style="--container-width: 16ch;">RIMDEV RECIPES!</h1>
      <svg
        width="99"
        height="100"
        viewBox="0 0 99 100"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>RIMdev Recipes</title>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M99 50C99 77.6056 76.8296 100 49.5 100C22.1704 100 0 77.6056 0 50C0 22.3944 22.1704 0 49.5 0C76.8644 0.0352113 99 22.3944 99 50ZM28.968 24.7183C23.9482 24.6831 20.9155 26.4789 19.8349 30.1408C19.5908 33.838 19.312 37.5 19.0331 41.162C18.6496 45.5986 16.837 48.3451 13.5254 49.4366V50.8099C16.6975 51.9014 18.5451 54.6127 19.0331 58.9789C19.312 62.6408 19.6257 66.2676 19.9046 69.9296C20.8109 73.6268 23.4602 75.4577 27.7827 75.4577H27.9919V74.2254C26.8067 74.0845 25.3077 73.4155 24.2271 72.2183C23.1465 70.9859 22.6236 69.4718 22.6236 67.6408C22.6236 66.9014 22.6585 65.7394 22.763 64.2254C22.8327 62.6761 22.9025 61.5141 22.9025 60.7394C22.9025 55.6338 21.2641 52.0775 17.9873 50.1056C21.2989 48.0986 22.9722 44.5775 22.9722 39.4718C22.9722 38.7324 22.9373 37.5704 22.8327 36.0563C22.7282 34.507 22.6933 33.3451 22.6933 32.5704C22.6933 30.7394 23.2511 29.2254 24.3317 27.993C25.4123 26.7606 29.0377 25.9859 29.0377 25.9859V24.7183H28.968ZM85.9278 49.3662C82.7556 48.2747 80.9081 45.5634 80.4201 41.1972C80.1412 37.5352 79.8275 33.9085 79.5486 30.2465C78.6423 26.5493 75.993 24.7183 71.6704 24.7183H69.5091V25.8451C72.2282 25.9859 73.7271 26.6549 74.8077 27.8521C75.8884 29.0845 76.4113 30.5986 76.4113 32.4296C76.4113 33.169 76.3764 34.331 76.2718 35.8451C76.2021 37.3944 76.1324 38.5563 76.1324 39.331C76.1324 44.4366 77.7708 47.993 81.0475 49.9648C77.7359 51.9718 76.0627 55.493 76.0627 60.5986C76.0627 61.338 76.0975 62.5 76.2021 64.0141C76.3067 65.5634 76.3415 66.7254 76.3415 67.5C76.3415 69.331 75.7838 70.8451 74.7032 72.0775C73.6225 73.3099 70.4155 74.0845 70.4155 74.0845V75.3873C75.4352 75.4225 78.468 73.6268 79.5486 69.9648C79.7926 66.2676 80.0715 62.6056 80.3503 58.9437C80.7338 54.507 82.5465 51.7606 85.8581 50.669V49.3662H85.9278ZM35.138 40.1408L38.5194 41.0211C38.5194 41.0211 40.1229 35.1408 44.2363 36.6549C48.3496 38.169 51.5567 35.493 51.5567 35.493C52.7768 40.2465 46.2581 42.6408 39.4606 47.8169C36.1489 50.3169 36.1838 59.8239 36.1838 59.8239H62.3979C62.2933 59.6831 60.6549 56.1972 60.5504 51.831C60.4806 47.6409 63.9317 41.2324 63.5482 31.9718C63.1648 22.6761 52.463 20.1056 52.463 20.1056C54.694 17.8873 49.2211 13.838 49.2211 13.838V20.4577C43.3648 20.8451 40.9246 24.4366 40.9246 24.4366L41.6915 27.0423C41.6915 27.0423 34.3363 33.6972 32.4539 35.1761C30.5715 36.6549 33.2905 40.669 33.2905 40.669L35.138 40.1408ZM63.8271 62.1479C63.8271 61.7606 63.5134 61.4085 63.0951 61.7958H36.3581C35.9746 61.4437 35.6261 61.7606 35.6261 62.1479C35.6261 62.5352 35.9398 62.8873 36.3581 62.7817H63.0951C63.5134 62.8521 63.8271 62.5352 63.8271 62.1479ZM66.3718 70.0704L64.7683 65.1761C64.7683 64.8944 64.5592 64.6831 64.2803 64.6831H35.5912C35.3123 64.6831 35.1032 64.8944 35.1032 65.1761L33.4996 70.0704C33.4996 70.3521 33.7088 70.5634 33.9877 70.5634H65.8489C66.1278 70.5634 66.3718 70.3521 66.3718 70.0704ZM58.7028 82.2535C58.7028 82.2535 53.5437 78.9789 53.5437 76.7958C53.5437 74.5775 55.9489 72.5 55.9489 72.5C55.9489 72.2183 55.5655 71.5493 55.4958 71.5493H49.9183H44.3408C44.2711 71.5493 43.8877 72.2535 43.8877 72.5C43.8877 72.5 46.293 74.6127 46.293 76.7958C46.293 79.0141 41.1338 82.2535 41.1338 82.2535C40.7852 82.8521 41.3081 83.2042 41.3778 83.2042H49.8834H58.3891C58.5285 83.2394 59.0514 82.8521 58.7028 82.2535Z"
          fill="#31225D"></path>
      </svg>
    </header>
  </main>
</Layout>
