@use "sass:meta";
@import "./mixins/";

@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;700;900&display=swap");

@layer reset, typography, components, theme;

@import "@acab/reset.css" layer(reset);

@layer components {
  @include meta.load-css("components");
}

@layer typography {
  @include meta.load-css("typography");
}

@layer theme {
  :root {
    --primary-color: #31225d;
    --white: #ffffff;

    --breakfast: #0056a3;
    --brewery: #7d1814;
    --noodles: #9c3883;
    --pizza: #d53a68;
  }

  body {
    background: #fbf8ff;
  }

  main {
    > *:first-child {
      margin-block-start: 3rem;
    }
    > * + * {
      margin-block-start: 5rem;
    }
  }

  main > article {
    > * + * {
      margin-block-start: 5rem;
    }
    margin-block-end: 1rem;
  }

  .featured .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    > * {
      margin: unset;
    }
  }

  .featured {
    --stack: 2rem;
    @include stack;
    display: flex;
    flex-flow: column;
    width: 100%;
    h2 {
      width: 100%;
    }
    .container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
      place-content: center;
      gap: 1rem;
    }
    figure {
      position: relative;
      margin: 0;
      padding: 0;
      display: flex;
      width: 100%;
      margin-inline: auto;
      overflow: hidden;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .link-section {
    background: var(--primary-color);
    padding-block: 3rem;
    .container {
      display: flex;
      flex-flow: column;
      h2 {
        color: white;
      }
    }
  }

  #restaurant-map {
    @include stack;
  }

  #favorite-restaurants {
    section {
      @include stack;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}

#restaurant-page {
  .content {
    @include stack;
    div.container {
      display: flex;
      flex-flow: column;
      gap: 1rem;
      .card{
        width: 100%;
      }
      @media (min-width: 768px){
          display:grid;
          gap: 1rem;
          grid-template-columns:
        25ch 1fr;

      }
    }
  }
}
