@use 'sass:meta';
@import './mixins/';

@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;700;900&display=swap');

@layer reset, typography, components, theme;

@layer reset {
  @include meta.load-css('_reset.scss');
}

@layer components {
  @include meta.load-css('components');
}

@layer typography {
  @include meta.load-css('typography');
}

@layer theme {
  :root {
    --primary-color: #31225d;
    --white: #ffffff;

    --breakfast: #0056a3;
    --brewery: #7d1814;
    --noodles: #9c3883;
    --pizza: #d53a68;
  }
  body {
    background: #fbf8ff;
  }
  header {
    @include stack;
    margin-block-start: 1.5rem;
    h1 {
      text-align: center;
    }
    svg {
      margin-inline: auto;
    }
  }
  main {
    @include stack;
    padding-block-end: 1.5rem;
  }

  section {
    header {
      margin-block: 3rem;
    }
  }

  .featured .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    > * {
      margin: unset;
    }
  }

  .featured {
    --stack: 3rem;
    @include stack;
    .container > ul {
      padding: 1rem;
    }
    figure {
      overflow: hidden;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .link-section {
    display: grid;
    place-content: center;
    padding-block: 3rem;
    background: var(--primary-color);
    h2 {
      padding: 0;
      margin: 0;
      color: white;
    }
  }

  #food-trucks {
    header {
      img {
        width: 100%;
        height: auto;
      }
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(15ch, 1fr));
      gap: 1rem;
      li {
        display: grid;
        place-content: center;
        text-align: center;
        aspect-ratio: 1;
        padding: 1rem;
        background: white;
      }
    }
  }

  #favorite-restaurants {
    img {
      width: 100%;
      height: auto;
    }
    ul {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(15ch, 1fr));
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
}
